.controls {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.icon {
  width: 2em;
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
