@import 'styles/variables.scss';

.btn {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  gap: 0.5rem;
  border: none;
  outline: none;
  background-color: $palette-3;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: 1px solid $palette-3-light;
  padding: 0.5rem 1rem;
  font-size: 1rem;

  &:hover {
    background-color: $palette-3-light;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $palette-3;
    border-color: $palette-3-light;
  }

  &:disabled:hover {
    background-color: $palette-3;
  }
}

.primary {
  background-color: $palette-4;
  border-color: $palette-4-light;

  &:hover {
    background-color: $palette-4-light;
  }
}
