@import 'styles/variables.scss';

.prefItem {
  background-color: $palette-2;
  color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;
  cursor: grab;
}

.selected {
  border: 2px solid white;
}

.title {
  font-weight: 400;
}

.names {
  color: #d9d9d9;
}
