@import 'styles/variables.scss';

.prefItem {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.body {
  flex: 1;
  background-color: $palette-2;
  color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: grab;
}

.position {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
  background-color: $palette-5;
  color: $palette-2;
  border-radius: 50%;
}

.selected {
  border: 2px solid white;
}

.title {
  font-weight: 400;
}

.names {
  color: #d9d9d9;
}
