@import 'styles/variables.scss';

.partyItem {
  display: block;
  background-color: $palette-2;
  color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;

  a {
    color: white;
    font-size: small;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.names {
  color: #d9d9d9;
}

.link {
  word-wrap: break-word;
  margin: 0.5rem 0;
}

.icon {
  height: 1em;
}
