@import 'styles/variables.scss';

.partyItem {
  display: block;
  background-color: $palette-2;
  color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;

  a {
    color: $palette-4-light;
    font-size: small;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.names {
  color: #d9d9d9;
}

.link {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;

  a {
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.5rem;
  }
}

.icon {
  height: 1em;
}
