@import 'styles/variables.scss';

.partyItem {
  display: block;
  background-color: $palette-2;
  color: white;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: 0.5rem;

  a {
    color: white;
    font-size: small;
  }
}

.title {
  font-weight: bold;
}

.names {
  color: #d9d9d9;
}


