.partyBanner {
  display: flex;
}

.avatar {
  width: 6rem;
  height: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.mentor {
  background-image: url(../../img/mentor.svg);
}

.mentee {
  background-image: url(../../img/mentee.svg);
}

.bannerBody {
  flex: 1;
  margin-top: 1.5rem;
  margin-left: 1rem;

  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
