@import 'styles/variables.scss';

.copyButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $item-border-radius;
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.99);
  }
}

.icon {
  width: 1em;
}
